body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://vignette.wikia.nocookie.net/rickandmorty/images/e/e1/S1e10_hideout_planet.png/revision/latest?cb=20160911012541");
}

.welcome-div{
  display: flex;
  justify-content: center;
 
}

.welcome-page{
  background-image: url("https://vignette.wikia.nocookie.net/rickandmorty/images/e/e1/S1e10_hideout_planet.png/revision/latest?cb=20160911012541");
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}
.main-img{
  width:500px;
  margin:2%;
  position: relative;
  left:250px;
}

.linkPic{
  width:100px;
  height:100px;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
}

input{
  width:300px;
}

img{
  height:250px;
  width:250px;
  
}

.charCard{
  text-align: center;
  margin:2%;
}

.search-form{
  display: flex;
  flex-wrap: wrap;
}

.filtered{
  border: 1px solid black;
}



li{
  font-weight: bold;
  color:purple;
}

h2{
  display: flex;
  flex-wrap: wrap;
}

h1{
  color:purple;
}

.filt-pics{
  height:50px;
  width:50px;
}

span{
  color:purple;
}